<div class="about-page-container">
  <div class="about-page-container_item">
    <span class="about-page-container_item-title">Коротко о нас:</span>
    <span class="about-page-container_item-description"
      >Интернет магазин DCA.by образован в 2020 году и с тех пор успешно
      развивается на рынке компьютерной и мультимедийной техники. Мы поставляем
      на рынок только сертифицированную, белую технику. Соответственно
      приобретая товары у нас Вы получаете гарантию от официальных,
      авторизованных, сервис-центров фирм-производителей. И можете быть уверены,
      что в случае каких-либо неполадок в оборудовании Вы не останетесь с ними
      один на один.</span
    >
  </div>
  <div class="about-page-container_item">
    <span class="about-page-container_item-title"> Доставка </span>
    <span class="about-page-container_item-description"
      >При заказе от <strong>150 руб.</strong> доставка осуществляется
      бесплатно.</span
    >
    <span class="about-page-container_item-description">
      При заказе менее 150 руб. стоимоть доставки
      <strong>50 руб.</strong>
    </span>
  </div>
  <div class="about-page-container_item">
    <span class="about-page-container_item-title">Контакты:</span>
    <span class="about-page-container_item-description"
      >Если вы хотите оформить заказ, сделать это можно в любой момент через
      корзину на сайте. По телефону оформить заказ можно ежедневно без выходных
      с 9.00 до 21.00.</span
    >
    <span class="about-page-container_item-phones"><strong>Телефоны:</strong></span>
    <span class="about-page-container_item-description">+375 17 516-72-43</span>
    <span class="about-page-container_item-description">+375 44 736-48-01</span>
    <span class="about-page-container_item-description">+375 29 238-66-45</span>
  </div>
</div>
