<div class="about-page-container">
  <div class="about-page-container_item">
    <span class="about-page-container_item-title">Briefly about us:</span>
    <span class="about-page-container_item-description"
      >The DCA.by online store was founded in 2020 and since then has been
      successfully developing in the market of computer and multimedia
      equipment. We supply to the market only certified, white technology.
      Respectively buying goods from us you get a guarantee from the official,
      authorized service centers of manufacturers. And you can be sure that in
      case of any problems with the equipment you will not be left with them one
      on one.</span
    >
  </div>
  <div class="about-page-container_item">
    <span class="about-page-container_item-title"> Delivery </span>
    <span class="about-page-container_item-description"
      >When ordering from <strong>150 р.</strong> delivery is carried out is
      free.</span
    >
    <span class="about-page-container_item-description">
      When ordering less than 150 р. the cost of delivery is
      <strong>50 р.</strong>
    </span>
  </div>
  <div class="about-page-container_item">
    <span class="about-page-container_item-title">Contacts:</span>
    <span class="about-page-container_item-description"
      >If you want to place an order, you can do it at any time through shopping
      cart on the site. You can place an order by phone every day without days
      off from 9 a.m. to 9 p.m.</span
    >
    <span class="about-page-container_item-phones"
      ><strong>Phones:</strong></span
    >
    <span class="about-page-container_item-description">+375 17 516-72-43</span>
    <span class="about-page-container_item-description">+375 44 736-48-01</span>
    <span class="about-page-container_item-description">+375 29 238-66-45</span>
  </div>
</div>
