<div class="catalog-item__header">
  <div class="catalog-item__search">
    <app-search-line (changed)="updateSearchValue($event)"></app-search-line>
  </div>
  <div class="catalog_item__sort">
    <app-sort (changed)="onChange($event)"></app-sort>
  </div>
</div>
<div class="catalog">
  <app-filter></app-filter>
  <app-product-list
    [products$]="products$"
    [hasMore$]="hasMore$"
    (loadedMore)="loadMore()"></app-product-list>
</div>
<div class="compare-notification" *ngIf="getCompareItemsAmount() > 0">
  <button routerLink="/compare-page" class="compare-notification__button">
    Товаров в сравнении: {{ getCompareItemsAmount() }}
  </button>
  <button class="compare-notification__button" (click)="clearCompareList()">
    <div class="icon-trash"></div>
  </button>

</div>
