<div class="container">
  <a routerLink="/catalog/phone" routerLinkActive="active">
    <div class="container--category container--category--phones">
      <a routerLink="/catalog/phone" routerLinkActive="active"
        ><span class="category-title">Телефоны</span></a>
    </div>
  </a>
  <a href="#">
    <div class="container--category container--category--laptops">
      <span class="category-title">Ноутбуки</span>
    </div>
  </a>
  <a href="#">
    <div class="container--category container--category--watch">
      <span class="category-title">Умные часы</span>
    </div>
  </a>
  <a href="/catalog/headphones">
    <div class="container--category container--category--headset">
      <span class="category-title">Наушники</span>
    </div>
  </a>
  

  <!-- <a href="#">
        <div class="container--sale">
            <span class="container--sale__title">Скидки</span>
        </div>
    </a> -->

  <!-- <div class="container--description">
        <h1>Большой выбор товаров</h1>
        <span></span>
    </div> -->
</div>
