<div class="container">
  <a routerLink="/catalog/phone" routerLinkActive="active">
    <div class="container__category container__category__phones">
      <a routerLink="/catalog/phone" routerLinkActive="active">
        <span class="category-title">Phones</span>
      </a>
    </div>
  </a>
  <a routerLink="/catalog/laptops" routerLinkActive="active">
    <div class="container__category container__category__laptops">
      <span class="category-title">Laptops</span>
    </div>
  </a>
  <a routerLink="/catalog/smartwatches" routerLinkActive="active">
    <div class="container__category container__category__watch">
      <span class="category-title">Smart watches</span>
    </div>
  </a>
  <a routerLink="/catalog/headphones" routerLinkActive="active">
    <div class="container__category container__category__headset">
      <span class="category-title">Headphones</span>
    </div>
  </a>
</div>
