<div class="container">
  <a routerLink="/catalog/phone" routerLinkActive="active">
    <div class="container__category container__category__phones">
      <a routerLink="/catalog/phone" routerLinkActive="active">
        <span class="category-title">Телефоны</span>
      </a>
    </div>
  </a>
  <!-- <a href="#">
    <div class="container__category container__category__laptops">
      <span class="category-title">Ноутбуки</span>
    </div>
  </a> -->
  <!-- <a href="/catalog/smartwatches">
    <div class="container__category container__category__watch">
      <span class="category-title">Умные часы</span>
    </div>
  </a> -->
  <a href="/catalog/headphones">
    <div class="container__category container__category__headset">
      <span class="category-title">Наушники</span>
    </div>
  </a>
</div>
