<header class="header">
  <div class="header__logo">
    <a routerLink="/main-page" routerLinkActive="active">
      <img src="assets/images/logo.svg" class="logo"/></a>
  </div>
  <div class="header-navigation">
    <ul class="header-navigation__list">
      <li class="header-navigation__list-items">
        <a href="/catalog" class="header-navigation__item">Каталог</a>
        <ul class="header-navigation__catalog">
          <li
            *ngFor="let item of catalog"
            class="header-navigation__catalog-item">
            <a routerLink="/{{ item.href }}" routerLinkActive="active">{{
              item.name
            }}</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="header-navigation__item header-navigation__delivery">Доставка</a>
      </li>
      <li>
        <a href="#" class="header-navigation__item header-contacts__contacts">Контакты</a>
      </li>
      <li>
        <a href="#" class="header-navigation__item header-contacts__contacts">О нас</a>
      </li>
      
    </ul>
  </div>

  <div [ngClass]="{'navigation-menu__mobile--visible': display}" class="navigation-menu__mobile">
    <ul class="navigation-menu__items-mobile">
      <li *ngFor="let item of catalog" class="navigation-menu__item-mobile">
        <a href="{{item.href}}">{{ item.name }}</a>
      </li>
    </ul>
  </div>

  <div class="header-actions">
    <div class="header-actions__icon header-actions__icon-search">
      <button class="icon-button">
        <fa-icon [icon]="faSearch" title="Search"></fa-icon>
      </button>
    </div>
    <div class="header-actions__icon header-actions__icon-compare">
      <button class="icon-button">
        <fa-icon [icon]="faChartBar" title="Compare"></fa-icon>
      </button>
    </div>
    <div class="header-actions__icon header-actions__icon-user">
      <button class="icon-button">
        <fa-icon [icon]="faUser"></fa-icon>
      </button>
    </div>
    <div class="header-actions__icon header-actions__icon-cart">
      <button class="icon-button">
        <fa-icon [icon]="faShoppingCart" title="Cart"></fa-icon>
      </button>
    </div>
    <div class="header-actions__icon header-actions__mobile-menu">
      <button class="icon-button__mobile" (click)="toggle()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
  </div>
</header>
