<header class="header">
  <div class="header__logo">
    <a routerLink="/main-page" routerLinkActive="active">
      <img src="assets/images/logo.svg" class="logo"/></a>
  </div>
  <div class="header-navigation">
    <ul class="header-navigation__list">
      <li class="header-navigation__list-items">
        <a href="/catalog" class="header-navigation__item">Каталог</a>
        <ul class="header-navigation__catalog">
          <li *ngFor="let item of catalog"
            class="header-navigation__catalog-item">
            <a routerLink="/{{ item.href }}" routerLinkActive="active">{{ item.name }}</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="header-navigation__item header-contacts__contacts">О нас</a>
      </li>
    </ul>
  </div>
  <div *ngIf="display"
    class="navigation-menu__mobile-overlay"
    (click)="toggle()"></div>
  <div [ngClass]="{ 'navigation-menu__mobile--visible': display }"
    class="navigation-menu__mobile">
    <ul class="navigation-menu__items-mobile">
      <li *ngFor="let item of catalog" class="navigation-menu__item-mobile">
        <a href="{{ item.href }}">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  <div class="header-actions">
    <a routerLink="/compare-page" routerLinkActive="active" class="header-actions_link" title="Сравнение">
      <div class="header-actions__icon header-actions__icon-compare">
        <div class="header-actions__quantity-item">
          <span class="header-actions__quantity">{{ getCompareItemsAmount() }}</span>
        </div>
      </div>
    </a>
    <a routerLink="/user-account" routerLinkActive="active" title="Личный кабинет">
      <div class="header-actions__icon header-actions__icon-user"></div>
    </a>
    <a routerLink="/cart-page" routerLinkActive="active" class="header-actions_link" title="Корзина">
      <div class="header-actions__icon header-actions__icon-cart">
        <div class="header-actions__quantity-item">
          <span class="header-actions__quantity">{{ getCartItemsAmount() }}</span>
        </div>
      </div>
    </a>
    <div class="header-actions__icon header-actions__mobile-menu"
      (click)="toggle()"></div>
  </div>
</header>
