<div class="catalog-item">
    <div class="catalog-item__image-container">
        <img [src]="image">
    </div>
    <div class="catalog-item__description-container">
        <div class="catalog-item__description">
            <a [href]="href" class="catalog-item__title">{{ title }}</a>
            <span class="catalog-item__description-text"> {{ description }}</span>    
        </div>
        <div class="catalog-item__price-container">
            <span class="catalog-item__price">{{ price }} р.</span>
        </div>
        <div class="catalog-item__buttons">
            <button class="catalog-item__button">
                В корзину
            </button>
            <button class="catalog-item__button">
                В сравнение
            </button>
        </div>
    </div>
</div>

