<div class="catalog-item">
    <div class="catalog-item__image-container" routerLink="{{ href }}">
        <img [src]="image">
    </div>
    <div class="catalog-item__description-container">
        <div class="catalog-item__description">
            <a routerLink="{{ href }}" class="catalog-item__title">{{ title }}</a>
            <span class="catalog-item__description-text"> {{ description }}</span>    
        </div>
        <div class="catalog-item__price-container">
            <span class="catalog-item__price">{{ price }} р.</span>
        </div>
        <div class="catalog-item__buttons">
            <button class="catalog-item__button" (click)="addToCart()">
                Add to cart
            </button>
            <button class="catalog-item__button" (click)="addToCompare()">
                Add to compare
            </button>
            <div class="catalog-item_notice" [ngClass]="{'catalog-item_notice__visible': hasProduct(product)}">
                <span class="catalog-item_notice-title">Product in compare</span>
            </div>
        </div>
    </div>
</div>

