.product-list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

app-product-card {
    display: block;
    margin: 0 auto 10px 8px;
    max-width: 1150px;
    width: 100%;
}