.product-list {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list__error {
  // width: 1150px;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

app-product-card {
  display: block;
  margin: 0 10px 10px 0;
  max-width: 1050px;
  width: 100%;
}
.sorting-container {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.sorting-container_span {
  margin-right: 7px;
}

.product-list_button {
  height: 47px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: #f3f3f3;
  max-width: 500px;
  width: 100%;
  margin-bottom: 10px;
  &:hover {
    background: #e6e5e5;
  }
  &:focus {
    outline: none;
  }
}

@media (max-width: 1368px) {
  app-product-card {
    max-width: 985px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  app-product-card {
    max-width: 630px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .product-list_button {
    height: 40px;
    font-size: 13px;
  }

  app-product-card {
    max-width: 650px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  app-product-card {
    max-width: 600px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  app-product-card {
    max-width: 500px;
    width: 100%;
  }

  .product-list_button {
    max-width: 400px;
    width: 100%;
  }
}

@media (max-width: 560px) {
  app-product-card {
    max-width: 384px;
    width: 100%;
  }
}

@media (max-width: 420px) {
  app-product-card {
    max-width: 300px;
  }
}
