<footer>
  <div class="footer">
    <div class="footer-block">
      <h3 class="footer-block_name">Покупателям</h3>
      <ul>
        <li class="footer-block__item"><a href="#">Личный кабинет</a></li>
        <!-- <li class="footer-block__item"><a href="#">Доставка</a></li> -->
        <li class="footer-block__item"><a href="#">Оплата</a></li>        
      </ul>
    </div>
    <div class="footer-block">
      <h3 class="footer-block_name">Информация</h3>
      <ul>
        <li class="footer-block__item"><a href="#">О нас</a></li>
        <li class="footer-block__item"><a href="#">Контакты</a></li>
        <!-- <li class="footer-block__item"><a href="#">Обратная связь</a></li> -->
      </ul>
    </div>
    <div class="footer-block footer-block_media">
      <span class="footer-block__number" title="Позвонить"
        >8 (029) 123-45-67</span
      >
      <div class="footer-block__media">
        <div class="footer-block__media-item">
          <button class="icon-button">
            <fa-icon [icon]="faInstagram" title="Instagram"></fa-icon>
          </button>
        </div>
        <div class="footer-block__media-item">
          <button class="icon-button">
            <fa-icon [icon]="faVk" title="ВКонтакте"></fa-icon>
          </button>
        </div>
        <div class="footer-block__media-item">
          <button class="icon-button">
            <fa-icon [icon]="faFacebookF" title="Facebook"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
