<footer>
  <div class="footer">
    <div class="footer-block">
      <h3 class="footer-block__name">Покупателям</h3>
      <ul>
        <li class="footer-block__item"><a routerLink="/user-account" routerLinkActive="active">Личный кабинет</a></li>
        <li class="footer-block__item"><a href="#">Оплата</a></li>        
      </ul>
    </div>
    <div class="footer-block">
      <h3 class="footer-block__name">Информация</h3>
      <ul>
        <li class="footer-block__item"><a href="#">О нас</a></li>
        <li class="footer-block__item"><a href="#">Контакты</a></li>
      </ul>
    </div>
    <div class="footer-block footer-block_media">
      <span class="footer-block__number" title="Позвонить"
        >8 (029) 123-45-67</span
      >
      <div class="footer-block__media">
        <a>
          <div class="footer-block__media-item footer-block__instagram-icon"></div>    
        </a>
        <a>
          <div class="footer-block__media-item footer-block__vk-icon"></div>
        </a>
        <a>
          <div class="footer-block__media-item footer-block__facebook-icon"></div>
        </a>
      </div>
    </div>
  </div>
</footer>
