<div
  class="reset-passwors-container"
  [ngClass]="{ 'reset-passwors-container__hidden': isReset }"
>
  <div class="reset-passwors-container_title">
    <span>Reset the password?</span>
  </div>
  <form
    class="reset-passwors_form"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="reset-passwors_form_email">
      <label class="reset-passwors_form_label">Enter mail</label>
      <input
        type="email"
        class="reset-passwors_form_email-input"
        formControlName="email"
        autocomplete="on"
      />
    </div>
    <div [ngClass]="{ 'reset-passwors_form_error': email.errors?.email }">
      <span
        class="reset-passwors_form_error-message"
        *ngIf="email.errors?.email"
        >Invalid email</span
      >
    </div>
    <div class="reset-passwors_form_submit-button">
      <button
        type="submit"
        class="reset-passwors_form-button"
        [disabled]="resetPasswordForm.invalid"
        [ngClass]="{
          'reset-passwors_form-button__disabled': resetPasswordForm.invalid
        }"
      >
        Reset
      </button>
    </div>
  </form>
</div>

<div *ngIf="isReset" class="message-container">
  <div class="message-container_text">
    <span>An email has been sent to you</span>
  </div>
</div>
